{% extends "./base.twig" %}

    {% block content %}

        <div class="row">
            <p>Hi {{user_name}},</p>
            <p>Your budget "{{budgetName}}" has exceeded the limit you set.</p>
        </div>
        <div class="row mt-5">
            <div>
                <div style="align-items: center;">
                    <span class="budget-label">{{budgetName}}</span><br>
                    <span class="total-spent">Totale speso: {{totalSpent}}</span><br>
                    <span class="spent-percentage">Percentuale spesa: {{spentPercentage}}</span><br>
                </div>
                <div class="progress-container">
                    <div class="progress-bar" style="width: {{percentage}};">{{spentPercentage}}</div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% styles %}

    .progress-bar {
            background-color: red;
            text-align: center;
            font-weight: bold;
            color: white;
            padding: 2px;
        }

        .budget-label {
            color: #065F46;
            display: inline-block;
            text-transform: uppercase;
            font-weight: bolder;
        }

        .total-spent, .spent-percentage {
            color: #065F46;
            font-weight: bold;
        }

        .progress-container {
            margin-top: 10px;
            background-color: #E5E7EB;
            overflow: hidden;
        }

    {% endstyles %}

