{% extends "base.twig" %}

    {% block content %}

        <div class="row">
            <p>Hi {{user_name}},</p>
            <p>Your budget <b>"{{budgetName}}"</b> has exceeded the limit you set.</p>
        </div>
        <div class="row mt-5">
            <div>
                <div style="align-items: center;">
                    <span><b> Budget configurato:</b> {{budgetAmount}} {{currency}}</span><br>
                    <span class="total-spent"><b>Totale speso:</b> {{totalSpent}} {{currency}}</span><br>
                    <span class="total-spent"><b>Totale rimanente:</b> {{totalRemaining}} {{currency}}</span><br>
                    <span class="spent-percentage"><b>Percentuale spesa:</b> {{spentPercentage}}</span><br>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block styles %}


        .budget-label {
            color: #065F46;
            display: inline-block;
            text-transform: uppercase;
            font-weight: bolder;
        }

        .total-spent, .spent-percentage {
            color: #065F46;
            font-weight: bold;
        }

        .progress-container {
            margin-top: 10px;
            background-color: #E5E7EB;
            overflow: hidden;
        }

    {% endblock %}

